:vars {
    --foreground: #e8f0ff;
    --foreground-alt: #ffffff;
    --background: #1c110f;
    --background-alt: #3b2d2b;
    --background-highlight: #5d4c4a;
    --highlight: #dcfab9;
    --status-ok: #1eae42;
    --status-fail: #ffece9;
}