:vars {
    --foreground: #7ad7be;
    --foreground-alt: #e9dfea;
    --background: #161219;
    --background-alt: #241f27;
    --background-highlight: #3f3942;
    --highlight: #debaef;
    --status-ok: #1eae42;
    --status-fail: #ffb4ab;
}