:vars {
    --foreground: #c5ffbd;
    --foreground-alt: #ffffff;
    --background: #12131a;
    --background-alt: #2f3038;
    --background-highlight: #4f4f58;
    --highlight: #f0eeff;
    --shadow: #f0eeff;
    --status-ok: #27b84b;
    --status-fail: #ffece9;
}